<h1><%= @article.title %></h1>
<p> <%= @article.created_at.strftime("Posted: %m/%d/%Y at %I:%M%p %Z") %></p><br />
<p>
  <% if @article.image.exists? %>
    <%= image_tag @article.image.url(:medium) %>
  <% end %>
</p>
<p><%= @article.body %></p><br />
<p>
  Tags:
  <% @article.tags.each do |tag| %>
    <%= link_to tag.name, tag_path(tag) %>
  <% end %>
</p><br />
<%= link_to "Edit Article", edit_article_path(@article) %><br />
<%= link_to "Delete Article", article_path(@article), method: :delete, data: {confirm: "Are you sure you want to delete this article?"}%> <br />
<%= link_to "<< Back to Articles List", articles_path %><br /><br />
<h3>Comments (<%= @article.comments.size %>)</h3>
<%= render partial: "comments/form" %>
<%= render partial: "articles/comment", collection: @article.comments %>