<!DOCTYPE html>
<html>
  <head>
    <title>Blogger</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<<<<<<< HEAD
  <body>  
    <p class="flash"><%= flash.notice %></p>
=======
  <body>
>>>>>>> 4c02f2b3cd35c48751a7f46b54e5849a555e8a91
    <%= yield %>
  </body>
</html>
